- if @embed
  - divid = "embedform"
- else
  - divid = "scheduleform"
%div(id="#{divid}")
  %h1 Migrate CRID #{@req.crid}
  %form(action="/schedule/config" method="POST" id="configureform")
    .helptext
      %p Enter the details for this circuit, and choose the configuration form for it.
    .formpart
      %input(type="hidden" name="bo_CRID" value="#{@req.crid}")
      %input(type="hidden" name="bo_CompanyName" value="#{@req.customer}")
      %input(type="hidden" name="bo_LocationAFullName" class="required" value="#{@req.location}")
      %input(type="hidden" name="request_id" value="#{@req.id}")
      %label Speed
      %br
      %input(type="text" name="bo_CPE.CPEConnectionSpeed" class="validatespeed required" value="#{@speed}")
    .clear
    .formpart
      %input(type="hidden" name="BO_ContractDeliveryDate" class="required" id="datepicker" value="#{@req.deadline.strftime("%d-%m-%Y")}")
      %label Configuration
      %br
      %select(name="form_id" class="required")
        %option(value="") Select form
        - @forms.each do |form|
          %option(value="#{form[:id]}") #{form[:name]}
      %br
    .clear
    - if @embed
      = input 'hidden', 'embed', 'true'
    %input(type="submit" id="submitbtn" name="submit")
